.input-box {
    margin-bottom: 20px;
  }
  
  .input-box label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }

  
  .input-box input[type="text"]:focus {
    border-color: #007bff;
  }
  
  .quiz-list button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointe
  }  
  .quiz-container {
    padding-left: 100px;
    padding-right: 0px; /* Adjust the value as needed */
  }
  