/* Footer.css */
.footer {
    background-color: #0b0e3b; /* Dark blue background */
    color: #d3d3d3; /* Light gray text color */
    padding: 10px 0;
    
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
}
